.profile {
  height: calc(100vh - 72px);
}

.profile__content {
  margin: 0 auto;
  padding-top: 74px;
  width: 410px;
  min-height: 482px;
}

.profile__greeting {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.profile__datas {
  padding-top: 107px;
}

.profile__stroke {
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
}

.profile__text {
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000;
}

.profile__line {
  margin: 0;
  margin-top: 16px;
}

.profile__button {
  display: block;
  margin: 0 auto;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  margin-top: 220px;
  transition: all 0.3s ease-in-out;
}

.profile__button:hover {
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.profile__button_accent {
  color: #EE3465;
  margin-top: 16px;
}

@media screen and (max-width: 768px) {
  .profile__content {
    padding-top: 238px;
  }

  .profile__datas {
    padding-top: 79px;
  }

  .profile__button {
    margin-top: 212px;
  }

  .profile__button_accent {
    margin-top: 16px;
  }

}

@media screen and (max-width: 320px) {
  .profile__content {
    padding-top: 72px;
    width: 260px;
  }

  .profile__datas {
    padding-top: 64px;
  }

  .profile__button {
    margin-top: 378px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__button_accent {
    margin-top: 16px;
  }

}
